localhost ansible_python_interpreter=/usr/bin/python

[droplets]
#sirius.example.net do_size=do_sizes_512mb do_region=do_regions_ams2 do_image=do_images_ubuntu1410x64
#canopus.example.net do_size=do_sizes_512mb do_region=do_regions_lon1 do_image=do_images_ubuntu1410x64
#toliman.example.net do_size=do_sizes_512mb do_region=do_regions_nyc2 do_image=do_images_ubuntu1410x64
#arcturus.example.net do_size=do_sizes_512mb do_region=do_regions_sfo1 do_image=do_images_ubuntu1410x64
#vega.example.net do_size=do_sizes_512mb do_region=do_regions_sgp1 do_image=do_images_ubuntu1410x64
#capella.example.net do_size=do_sizes_512mb do_region=do_regions_ams2 do_image=do_images_ubuntu1410x64
#rigel.example.net do_size=do_sizes_512mb do_region=do_regions_nyc2 do_image=do_images_ubuntu1410x64
#procyon.example.net do_size=do_sizes_512mb do_region=do_regions_ams2 do_image=do_images_ubuntu1410x64

[europe]
#sirius.example.net
#canopus.example.net
#capella.example.net
#procyon.example.net

[america]
#toliman.example.net
#arcturus.example.net
#rigel.example.net

[asia]
#vega.example.net

[dns_servers]
#sirius.example.net
#canopus.example.net
#toliman.example.net
#arcturus.example.net
#vega.example.net

[proxy_servers]
#sirius.example.net
#canopus.example.net
#toliman.example.net
#arcturus.example.net
#vega.example.net

[mongo_servers]
#capella.example.net
#rigel.example.net

[docker_servers]
#procyon.example.net
