web:
  build: current
  ports:
    - "{{ item.containers.0.port }}:80"
{% if item.environment %}
  environment:
{% for key, value in item.environment.iteritems() %}
    {{ key }}: {{ value }}
{% endfor %}
{% endif %}
